.main_container{
    min-height: 100vh;
}

.main_section > h1{
    text-align: center;
}

.main_section > p{
    text-align: center;
    font-size: 1.2rem;
}

.list_recipe_ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    margin: 0 auto;
    padding: 0;
}

/* Recipe.tsx file styles */

.list_recipe_li{
    background-color: rgba(56, 56, 56, 0.479);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;

}
@media screen and (max-width: 768px){
    .list_recipe_li{
        margin: 2rem auto;
    }
}


.img_recipe{
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}

/* DetailRecipe page styles */

.recipe_main_title{
    text-align: center;
    margin: 2rem 0;
}

.container_img_instructions{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}

.container_other_things{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 768px){
    .container_img_instructions{
        flex-direction: column;
    }
}

.img_detail_recipe{
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
}
@media screen and (max-width: 768px){
    .img_detail_recipe{
        margin: 1rem 5rem;
        padding: 1rem;
    }
}


.container_img_detail_recipe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe_instructions{
    padding: 0 3rem;
    margin: 2.5rem 0;
    text-align: center;
}

.container_ingredients{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: auto;
}

.container_ingredients > ul{
    background-color: rgba(56, 56, 56, 0.479);
    padding: 1rem 3rem;
    border-radius: 10px;
}

.container_ingredients > ul > h4{
    text-align: center;
    margin: 0 auto;
}
